In [113]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [7]:
DATA_PATH = '../data/'

In [11]:
# Save names of subdirectories within ./data/ directory into a list
data_dirs = [name for name in os.listdir(DATA_PATH) if os.path.isdir(os.path.join(DATA_PATH, name))]
print(data_dirs)

['SE', 'DE', 'HU', 'IT', 'SP', 'NE', 'PO', 'UK', 'DK']

In [18]:
green_energy_sources = {
    'B01': 'Biomass',
    'B09': 'Geothermal',
    'B10': 'Hydro Pumped Storage',
    'B11': 'Hydro Run-of-river and poundage',
    'B12': 'Hydro Water Reservoir',
    'B13': 'Marine',
    'B15': 'Other renewable',
    'B16': 'Solar',
    'B17': 'Waste',
    'B18': 'Wind Offshore',
    'B19': 'Wind Onshore'
}

In [29]:
energy_categories = {
    'A03': 'Mixed',
    'A04': 'Generation',
    'A05': 'Load',
    'B01': 'Biomass',
    'B02': 'Fossil Brown coal/Lignite',
    'B03': 'Fossil Coal-derived gas',
    'B04': 'Fossil Gas',
    'B05': 'Fossil Hard coal',
    'B06': 'Fossil Oil',
    'B07': 'Fossil Oil shale',
    'B08': 'Fossil Peat',
    'B09': 'Geothermal',
    'B10': 'Hydro Pumped Storage',
    'B11': 'Hydro Run-of-river and poundage',
    'B12': 'Hydro Water Reservoir',
    'B13': 'Marine',
    'B14': 'Nuclear',
    'B15': 'Other renewable',
    'B16': 'Solar',
    'B17': 'Waste',
    'B18': 'Wind Offshore',
    'B19': 'Wind Onshore',
    'B20': 'Other',
    'B21': 'AC Link',
    'B22': 'DC Link',
    'B23': 'Substation',
    'B24': 'Transformer'
}

In [21]:
list(green_energy_sources.keys())

['B01', 'B09', 'B10', 'B11', 'B12', 'B13', 'B15', 'B16', 'B17', 'B18', 'B19']

In [378]:
df = pd.read_csv('/home/stefan/Documents/Workspace/Python/ML/Hackathon/eco-forecast/data/IT/gen_IT_B01.csv')
df2 = pd.read_csv('/home/stefan/Documents/Workspace/Python/ML/Hackathon/eco-forecast/data/HU/gen_HU_B11.csv')

In [382]:
df.head(20)

,StartTime,EndTime,AreaID,UnitName,PsrType,quantity
0,2021-12-31 23:00:00,2022-01-01 00:00:00,10YIT-GRTN-----B,MAW,B01,677
1,2022-01-01 00:00:00,2022-01-01 01:00:00,10YIT-GRTN-----B,MAW,B01,683
2,2022-01-01 01:00:00,2022-01-01 02:00:00,10YIT-GRTN-----B,MAW,B01,670
3,2022-01-01 02:00:00,2022-01-01 03:00:00,10YIT-GRTN-----B,MAW,B01,656
4,2022-01-01 03:00:00,2022-01-01 04:00:00,10YIT-GRTN-----B,MAW,B01,649
5,2022-01-01 04:00:00,2022-01-01 05:00:00,10YIT-GRTN-----B,MAW,B01,644
6,2022-01-01 05:00:00,2022-01-01 06:00:00,10YIT-GRTN-----B,MAW,B01,642
7,2022-01-01 06:00:00,2022-01-01 07:00:00,10YIT-GRTN-----B,MAW,B01,644
8,2022-01-01 07:00:00,2022-01-01 08:00:00,10YIT-GRTN-----B,MAW,B01,649
9,2022-01-01 08:00:00,2022-01-01 09:00:00,10YIT-GRTN-----B,MAW,B01,647
10,2022-01-01 09:00:00,2022-01-01 10:00:00,10YIT-GRTN-----B,MAW,B01,649
11,2022-01-01 10:00:00,2022-01-01 11:00:00,10YIT-GRTN-----B,MAW,B01,661
12,2022-01-01 11:00:00,2022-01-01 12:00:00,10YIT-GRTN-----B,MAW,B01,656
13,2022-01-01 12:00:00,2022-01-01 13:00:00,10YIT-GRTN-----B,MAW,B01,646
14,2022-01-01 13:00:00,2022-01-01 14:00:00,10YIT-GRTN-----B,MAW,B01,648
15,2022-01-01 14:00:00,2022-01-01 15:00:00,10YIT-GRTN-----B,MAW,B01,642
16,2022-01-01 15:00:00,2022-01-01 16:00:00,10YIT-GRTN-----B,MAW,B01,687
17,2022-01-01 16:00:00,2022-01-01 17:00:00,10YIT-GRTN-----B,MAW,B01,702
18,2022-01-01 17:00:00,2022-01-01 18:00:00,10YIT-GRTN-----B,MAW,B01,707
19,2022-01-01 18:00:00,2022-01-01 19:00:00,10YIT-GRTN-----B,MAW,B01,697

In [380]:
# df = pd.read_csv('/home/stefan/Documents/Workspace/Python/ML/Hackathon/eco-forecast/data/HU/load_HU.csv')
print(df.shape)
# drop all the rows where green energy quantity wasn't recorded (drop the missing values)
df.drop(df[df['quantity'] == 0].index, axis=0, inplace=True)
print(df.shape)
# transform time values from string into datetime object 
df['StartTime'] = df['StartTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))
df['StartTime'] = pd.to_datetime(df['StartTime'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))

df['EndTime'] = df['EndTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))
df['EndTime'] = pd.to_datetime(df['EndTime'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))

"""
# Add extra columns for year, month, day, hour
df['hour'] = df['StartTime'].apply(lambda x: x.hour)
df['day'] = df['StartTime'].apply(lambda x: x.day)
df['month'] = df['StartTime'].apply(lambda x: x.month)
df['year'] = df['StartTime'].apply(lambda x: x.year)

# Remove all the samples that are missing 4 rows of 15-minute marks/records
hourly_counts = df.groupby(['year', 'month', 'day', 'hour']).size()
missing_hours = hourly_counts[hourly_counts != 4].index
df = df[~df[['year', 'month', 'day', 'hour']].apply(tuple, axis=1).isin(missing_hours)]
df.drop(['year', 'month', 'day', 'hour'], axis=1, inplace=True)


print(df.head(12))
# Transform data from 15-minute interval format into 1-hour interval format per sample
df = df.resample('H', on='StartTime', closed='left').sum(numeric_only=True).reset_index()
"""

(96, 6)
(96, 6)

"\n# Add extra columns for year, month, day, hour\ndf['hour'] = df['StartTime'].apply(lambda x: x.hour)\ndf['day'] = df['StartTime'].apply(lambda x: x.day)\ndf['month'] = df['StartTime'].apply(lambda x: x.month)\ndf['year'] = df['StartTime'].apply(lambda x: x.year)\n\n# Remove all the samples that are missing 4 rows of 15-minute marks/records\nhourly_counts = df.groupby(['year', 'month', 'day', 'hour']).size()\nmissing_hours = hourly_counts[hourly_counts != 4].index\ndf = df[~df[['year', 'month', 'day', 'hour']].apply(tuple, axis=1).isin(missing_hours)]\ndf.drop(['year', 'month', 'day', 'hour'], axis=1, inplace=True)\n\n\nprint(df.head(12))\n# Transform data from 15-minute interval format into 1-hour interval format per sample\ndf = df.resample('H', on='StartTime', closed='left').sum(numeric_only=True).reset_index()\n"

In [415]:
df = pd.read_csv('/home/stefan/Documents/Workspace/Python/ML/Hackathon/eco-forecast/data/IT/gen_IT_B01.csv')

# drop all the rows where green energy quantity wasn't recorded (drop the missing values)
df.drop(df[df['quantity'] == 0].index, axis=0, inplace=True)

# transform time values from string into datetime object 
df['StartTime'] = df['StartTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))
df['StartTime'] = pd.to_datetime(df['StartTime'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))
    
df['EndTime'] = df['EndTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))
df['EndTime'] = pd.to_datetime(df['EndTime'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))

# Add extra columns for year, month, day, hour
df['hour'] = df['StartTime'].apply(lambda x: x.hour)
df['day'] = df['StartTime'].apply(lambda x: x.day)
df['month'] = df['StartTime'].apply(lambda x: x.month)
df['year'] = df['StartTime'].apply(lambda x: x.year)

# TODO: Before removing samples, check if the data even has 15-minute mark format
short_interval = False

time_diff = df['StartTime'].diff()

unique_diffs = time_diff.unique()

max_time_difference='01:00:00'
max_duration = pd.to_timedelta(max_time_difference)

extracted_diffs_minutes = [diff.total_seconds() / 60 for diff in unique_diffs]
filtered_list = [value for value in extracted_diffs_minutes if not np.isnan(value)]

if len(filtered_list) != 1:
    print("Warn: Data's time intervals are not equal for all the samples!")

if any(diff < max_duration for diff in unique_diffs):
    print(f"Data is recorded in chunks which are shorter than {max_time_difference}.")
    short_interval = True
else:
    print(f"Data is recorded on every {max_time_difference} or higher.")


# Remove all the samples that are missing 4 rows of 15-minute marks/records
if short_interval:
    print("Entered")
    hourly_counts = df.groupby(['year', 'month', 'day', 'hour']).size()

    missing_hours = hourly_counts[hourly_counts != 4].index
    df = df[~df[['year', 'month', 'day', 'hour']].apply(tuple, axis=1).isin(missing_hours)]
    # Transform data from 15-minute interval format into 1-hour interval format per sample
    df = df.resample('H', on='StartTime', closed='left').sum(numeric_only=True).reset_index()

df.drop(['year', 'month', 'day', 'hour', 'EndTime', 'AreaID', 'UnitName', 'PsrType'], axis=1, inplace=True)

Data is recorded on every 01:00:00 or higher.

In [417]:
df.head(20)

             StartTime  quantity
0  2021-12-31 23:00:00       677
1  2022-01-01 00:00:00       683
2  2022-01-01 01:00:00       670
3  2022-01-01 02:00:00       656
4  2022-01-01 03:00:00       649
5  2022-01-01 04:00:00       644
6  2022-01-01 05:00:00       642
7  2022-01-01 06:00:00       644
8  2022-01-01 07:00:00       649
9  2022-01-01 08:00:00       647
10 2022-01-01 09:00:00       649
11 2022-01-01 10:00:00       661
12 2022-01-01 11:00:00       656
13 2022-01-01 12:00:00       646
14 2022-01-01 13:00:00       648
15 2022-01-01 14:00:00       642
16 2022-01-01 15:00:00       687
17 2022-01-01 16:00:00       702
18 2022-01-01 17:00:00       707
19 2022-01-01 18:00:00       697

In [214]:
#-----------------------------------------------------------
from datetime import datetime

# Example datetime string
datetime_string = "2021-12-31T23:45+00:00Z"

# Remove the 'Z' at the end and parse the string without the colon in the offset
datetime_object = datetime.strptime(datetime_string[:-1], "%Y-%m-%dT%H:%M%z")

print(datetime_object.strftime('%Y-%m-%d %H:%M'))
#-----------------------------------------------------------

2021-12-31 23:45

In [299]:
df['StartTime_DT'] = df['StartTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))
df['EndTime_DT'] = df['EndTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))

df2['StartTime_DT'] = df2['StartTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))
df2['EndTime_DT'] = df2['EndTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))

In [300]:
df['Start'] = pd.to_datetime(df['StartTime_DT'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))
df['End'] = pd.to_datetime(df['EndTime_DT'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))

df2['Start'] = pd.to_datetime(df2['StartTime_DT'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))
df2['End'] = pd.to_datetime(df2['EndTime_DT'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))

# df['Start_Time'] = df['StartTime_DT'].apply(lambda x: x.time())
# df['End_Time'] = df['EndTime_DT'].apply(lambda x: x.time())

In [301]:
df.drop(['StartTime_DT', 'EndTime_DT', 'StartTime', 'EndTime'], axis=1, inplace=True)
df2.drop(['StartTime_DT', 'EndTime_DT', 'StartTime', 'EndTime'], axis=1, inplace=True)

In [218]:
df.head()

,AreaID,UnitName,PsrType,quantity,Start,End
0,10YHU-MAVIR----U,MAW,B01,132,2021-12-31 23:45:00,2022-01-01 00:00:00
1,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:00:00,2022-01-01 00:15:00
2,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:15:00,2022-01-01 00:30:00
3,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:30:00,2022-01-01 00:45:00
4,10YHU-MAVIR----U,MAW,B01,130,2022-01-01 00:45:00,2022-01-01 01:00:00

In [194]:
df2.head()

,AreaID,UnitName,PsrType,quantity,Start,End
0,10YHU-MAVIR----U,MAW,B11,11,2021-12-31 23:45:00,2022-01-01 00:00:00
1,10YHU-MAVIR----U,MAW,B11,11,2022-01-01 00:00:00,2022-01-01 00:15:00
2,10YHU-MAVIR----U,MAW,B11,11,2022-01-01 00:15:00,2022-01-01 00:30:00
3,10YHU-MAVIR----U,MAW,B11,11,2022-01-01 00:30:00,2022-01-01 00:45:00
4,10YHU-MAVIR----U,MAW,B11,11,2022-01-01 00:45:00,2022-01-01 01:00:00

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AreaID    384 non-null    object
 1   UnitName  384 non-null    object
 2   PsrType   384 non-null    object
 3   quantity  384 non-null    int64
 4   Start     384 non-null    datetime64[ns]
 5   End       384 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 18.1+ KB

In [196]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AreaID    384 non-null    object
 1   UnitName  384 non-null    object
 2   PsrType   384 non-null    object
 3   quantity  384 non-null    int64
 4   Start     384 non-null    datetime64[ns]
 5   End       384 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 18.1+ KB

In [198]:
print("DF: ", list(df.columns))
print("DF2: ", list(df2.columns))

DF:  ['AreaID', 'UnitName', 'PsrType', 'quantity', 'Start', 'End']
DF2:  ['AreaID', 'UnitName', 'PsrType', 'quantity', 'Start', 'End']

In [297]:
import datetime as dt
df.drop(df[df['Start'].dt.year < 2022].index, axis=0, inplace=True)

In [246]:
df[(df['Start'].dt.year < 2022) | (df['Start'].dt.year > 2022)]

Empty DataFrame
Columns: [AreaID, UnitName, PsrType, quantity, Start, End]
Index: []

In [302]:
df.shape

(384, 6)

#### PRE-PROCESSING

##### TRANSFORMING INTO HOURLY INTERVAL INSTEAD OF 15-MINUTE INTERVAL (WORKS)

In [268]:
list(df.columns)

['AreaID', 'UnitName', 'PsrType', 'quantity', 'Start', 'End']

In [283]:
att1 = df.copy(deep=True)

In [284]:
att1.shape

(384, 6)

In [285]:
att1.drop(['UnitName', 'PsrType', 'Start', 'AreaID'], inplace=True, axis=1)

In [286]:
att1 = att1.resample('H', on='End', closed='right').sum().reset_index()

In [287]:
att1.head()

                  End  quantity
0 2021-12-31 23:00:00       132
1 2022-01-01 00:00:00       523
2 2022-01-01 01:00:00       516
3 2022-01-01 02:00:00       507
4 2022-01-01 03:00:00       506

In [261]:
df.head()

,AreaID,UnitName,PsrType,quantity,Start,End
1,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:00:00,2022-01-01 00:15:00
2,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:15:00,2022-01-01 00:30:00
3,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:30:00,2022-01-01 00:45:00
4,10YHU-MAVIR----U,MAW,B01,130,2022-01-01 00:45:00,2022-01-01 01:00:00
5,10YHU-MAVIR----U,MAW,B01,130,2022-01-01 01:00:00,2022-01-01 01:15:00

In [303]:
att2 = df.copy(deep=True)

In [304]:
att2.head()

,AreaID,UnitName,PsrType,quantity,Start,End
0,10YHU-MAVIR----U,MAW,B01,132,2021-12-31 23:45:00,2022-01-01 00:00:00
1,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:00:00,2022-01-01 00:15:00
2,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:15:00,2022-01-01 00:30:00
3,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:30:00,2022-01-01 00:45:00
4,10YHU-MAVIR----U,MAW,B01,130,2022-01-01 00:45:00,2022-01-01 01:00:00

In [316]:
att2['hour'] = att2['Start'].apply(lambda x: x.hour)
att2['day'] = att2['Start'].apply(lambda x: x.day)
att2['month'] = att2['Start'].apply(lambda x: x.month)
att2['year'] = att2['Start'].apply(lambda x: x.year)

In [328]:
hourly_counts = att2.groupby(['year', 'month', 'day', 'hour']).size()

# Filter out hours with less than 4 intervals
missing_hours = hourly_counts[hourly_counts != 4].index

In [329]:
missing_hours

MultiIndex([(2021, 12, 31, 23),
            (2022,  1,  4, 23)],
           names=['year', 'month', 'day', 'hour'])

In [330]:
# df_filtered = att2[~att2['hour'].isin(missing_hours)]
df_filtered = att2[~att2[['year', 'month', 'day', 'hour']].apply(tuple, axis=1).isin(missing_hours)]

In [331]:
df_filtered.head()

,AreaID,UnitName,PsrType,quantity,Start,End,hour,month,day,year
1,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:00:00,2022-01-01 00:15:00,0,1,1,2022
2,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:15:00,2022-01-01 00:30:00,0,1,1,2022
3,10YHU-MAVIR----U,MAW,B01,131,2022-01-01 00:30:00,2022-01-01 00:45:00,0,1,1,2022
4,10YHU-MAVIR----U,MAW,B01,130,2022-01-01 00:45:00,2022-01-01 01:00:00,0,1,1,2022
5,10YHU-MAVIR----U,MAW,B01,130,2022-01-01 01:00:00,2022-01-01 01:15:00,1,1,1,2022

#### CONCAT/MERGE ATTEMPT

In [199]:
test_df = pd.merge(
    df,
    df2,
    how='inner',
    on='Start',
    copy=True
)

In [211]:
df.tail()

,AreaID,UnitName,PsrType,quantity,Start,End
379,10YHU-MAVIR----U,MAW,B01,135,2022-01-04 22:30:00,2022-01-04 22:45:00
380,10YHU-MAVIR----U,MAW,B01,130,2022-01-04 22:45:00,2022-01-04 23:00:00
381,10YHU-MAVIR----U,MAW,B01,129,2022-01-04 23:00:00,2022-01-04 23:15:00
382,10YHU-MAVIR----U,MAW,B01,129,2022-01-04 23:15:00,2022-01-04 23:30:00
383,10YHU-MAVIR----U,MAW,B01,128,2022-01-04 23:30:00,2022-01-04 23:45:00

In [212]:
test_df.tail()

,AreaID_x,UnitName_x,PsrType_x,quantity_x,Start,End_x,AreaID_y,UnitName_y,PsrType_y,quantity_y,End_y
379,10YHU-MAVIR----U,MAW,B01,135,2022-01-04 22:30:00,2022-01-04 22:45:00,10YHU-MAVIR----U,MAW,B11,6,2022-01-04 22:45:00
380,10YHU-MAVIR----U,MAW,B01,130,2022-01-04 22:45:00,2022-01-04 23:00:00,10YHU-MAVIR----U,MAW,B11,6,2022-01-04 23:00:00
381,10YHU-MAVIR----U,MAW,B01,129,2022-01-04 23:00:00,2022-01-04 23:15:00,10YHU-MAVIR----U,MAW,B11,6,2022-01-04 23:15:00
382,10YHU-MAVIR----U,MAW,B01,129,2022-01-04 23:15:00,2022-01-04 23:30:00,10YHU-MAVIR----U,MAW,B11,6,2022-01-04 23:30:00
383,10YHU-MAVIR----U,MAW,B01,128,2022-01-04 23:30:00,2022-01-04 23:45:00,10YHU-MAVIR----U,MAW,B11,6,2022-01-04 23:45:00

In [178]:
df.loc[:, ['PsrType', 'quantity', 'Start']].groupby(['Start', 'PsrType']).mean()

                             quantity
Start               PsrType
2021-12-31 23:45:00 B01         132.0
2022-01-01 00:00:00 B01         131.0
2022-01-01 00:15:00 B01         131.0
2022-01-01 00:30:00 B01         131.0
2022-01-01 00:45:00 B01         130.0
...                               ...
2022-01-04 22:30:00 B01         135.0
2022-01-04 22:45:00 B01         130.0
2022-01-04 23:00:00 B01         129.0
2022-01-04 23:15:00 B01         129.0
2022-01-04 23:30:00 B01         128.0

[384 rows x 1 columns]

#### MERGE ALL

In [ ]:
# TODO:
#   - Change string object of datetime into a datetime object - [DONE]
#   - Add columns for year, month, day, hour for groupby method - 
#   - Remove all the rows which don't have 4 consecutive samples of 15-minute interval scans (usually first and last samples in data)
#   - Transform data so each sample represents a 1-hour interval with summed up quantity values
#   - Rinse and repeat for all files
#   - Merge and sum all the green energy quantities into a single column value, extract .csv data into subdirectory it belongs to

def load_dataframe(path):
    df = pd.read_csv(path)

    return df

def pre_process(file_name, dir_path):
    df = load_dataframe(dir_path + file_name)

    # drop all the rows where green energy quantity wasn't recorded (drop the missing values)
    df.drop(df[df['quantity'] == 0].index, axis=0, inplace=True)

    # transform time values from string into datetime object 
    df['StartTime'] = df['StartTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))
    df['StartTime'] = pd.to_datetime(df['StartTime'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))
    
    df['EndTime'] = df['EndTime'].apply(lambda x: datetime.strptime(x[:-1], "%Y-%m-%dT%H:%M%z"))
    df['EndTime'] = pd.to_datetime(df['EndTime'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M')))

    # Add extra columns for year, month, day, hour
    df['hour'] = df['StartTime'].apply(lambda x: x.hour)
    df['day'] = df['StartTime'].apply(lambda x: x.day)
    df['month'] = df['StartTime'].apply(lambda x: x.month)
    df['year'] = df['StartTime'].apply(lambda x: x.year)

    # TODO: Before removing samples, check if the data even has 15-minute mark format
    short_interval = False

    time_diff = df['StartTime'].diff()

    unique_diffs = time_diff.unique()

    if pd.Timedelta(minutes=15) in unique_diffs:
        short_interval = True
    elif pd.Timedelta(hours=1) in unique_diffs:
        print("Data is recorded every 1 hour.")
    else:
        print("Warn: Unrecognizable interval")
        short_interval = True

    
    # Remove all the samples that are missing 4 rows of 15-minute marks/records
    if short_interval:
        hourly_counts = df.groupby(['year', 'month', 'day', 'hour']).size()

        missing_hours = hourly_counts[hourly_counts != 4].index

        df = df[~df[['year', 'month', 'day', 'hour']].apply(tuple, axis=1).isin(missing_hours)]
        df.drop(['year', 'month', 'day', 'hour'], axis=1, inplace=True)
        
        # Transform data from 15-minute interval format into 1-hour interval format per sample
        df = df.resample('H', on='StartTime', closed='left').sum(numeric_only=True).reset_index()

    return df

In [ ]:
for dir in data_dirs:
    # dataframe name (dir = region code)
    # df_name = f'df_{dir}'

    files_path = f'{DATA_PATH}/{dir}/'
    files = os.listdir(files_path)
    
    non_greens = []

    for file in files:
        # myb dont need if, depends on pre-process func parameters (eg. ptr type, file type (load, gen), etc.)
        df = pre_process(file, files_path)
        if 'load' not in file.split('_'):
            # prints the ptr_type (energy type)
            
            # extract ptr type from the file name
            ptr_type = file.split('_')[2].split('.')[0]
            
            # check if the extracted ptr type is considered green energy
            if ptr_type not in list(green_energy_sources.keys()):
                df_load = pd.read_csv(files_path + file)
                non_greens.append(ptr_type)
            else:
                print("File: " + file)
                df_test = pd.read_csv(files_path + file)
                print("Shape: ", df_test.shape)
                print("psr type: " + df_test['PsrType'][0])
                print()
                continue
    print("list of non_green:")
    for non_green in non_greens:
        print('\t- ' + non_green + ' (' + energy_categories[non_green] + ')')
    break